<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace Étudiants</title>
    <link rel="stylesheet" href="static/styles/etudiants.css">
</head>
<body>
    <header class="header">
        <h1>Excellente langue 🎓📚</h1>
        <nav class="navigation">
            <a href="/">Accueil</a>
            <a href="inscription">Inscription & Les Prix</a>
            <a href="etudiants">Étudiants</a>
        </nav>
    </header>
    <main>
        <section class="student-login">
            <h2>Connexion Espace Étudiants</h2>
            <form>
                <input type="text" placeholder="Numéro d'étudiant" required>
                <input type="password" placeholder="Mot de passe" required>
                <button type="submit">Se connecter</button>
            </form>
        </section>
        <section class="student-services">
            <h2>Services pour Étudiants</h2>
            <ul>
                <li>Accès aux ressources de cours</li>
                <li>Suivi des progrès</li>
                <li>Matériels de révision</li>
                <li>Support pédagogique en ligne</li>
                <li>Réservation de sessions de tutorat</li>
            </ul>
        </section>
    </main>
</body>
</html>
