<!DOCTYPE html>
<html lang="fr">
    <body style="background-image:url('static/background.svg');">
        <center>
            <h1  style="padding: 0cqis; color:rgb(255, 255, 255);">Excellente langue🎓📚</h1>
        </center>
        
        <center>
            <a href="/" style="width: 300px; height: 50px; background-color:rgb(209, 201, 247);">
                <button style="width: 100%; height: 100%; background-color:rgb(209, 201, 247); border: none;">
                    <h3>Accueil</h3>
                </button>
            </a>
            <a href="inscription" style="width: 300px; height: 50px; background-color:rgb(209, 201, 247); display: inline-block; margin: 5px;">
                <button style="width: 100%; height: 100%; background-color:rgb(209, 201, 247); border: none;">
                    <h3>Inscription & Les Prix</h3>
                </button>
            </a>
            <a href="etudiants" style="width: 300px; height: 50px; background-color:rgb(209, 201, 247); display: inline-block; margin: 5px;">
                <button style="width: 100%; height: 100%; background-color:rgb(209, 201, 247); border: none;">
                    <h3>Étudiants</h3>
                </button>
            </a>
        </center>
        
        <br><br>
        <input type="search" placeholder="Recherche" style="display: block; margin: 0 auto; width: 500px; height: 40px; text-align: center;">
        <br><br>
        <center>
            <h1 style="color: rgb(241, 241, 232); font-style: oblique;" font face="Algerian">Bien venu a notre service:</h1>
        </center>
       
        <br><br>
        <p style="color: aliceblue; margin: 3rem; font-size: medium;" >
            <br>Bienvenue sur Exellent langue🎓📚, votre passerelle vers le monde des langues et des cultures !

            <br>Nous croyons que l'apprentissage des langues est la clé pour rapprocher les peuples et favoriser la compréhension.<br> Sur notre plateforme, vous trouverez une large gamme de ressources adaptées à tous les niveaux, des débutants aux avancés.
            
            <br>✅ Ce que nous proposons :
            
            <br>Des leçons interactives et engageantes pour apprendre [nom(s) de la/les langue(s)].
            
            <br>Des exercices pratiques pour améliorer vos compétences en lecture, écriture, écoute et expression orale.
            
            <br>Des astuces personnalisées pour progresser rapidement et efficacement.
            
            <br>Rejoignez-nous dès maintenant et commencez votre voyage linguistique. Une nouvelle langue, c'est une nouvelle opportunité d'explorer le monde !
            
            <br>Apprendre une langue n'a jamais été aussi simple. Commençons ensemble dès aujourd'hui !
            <br>
        </p>
        
        <div align="center" class="contairner">
            <br><br><br><br>
            <img src="https://www.professionnels.ma/sites/default/files/2020-02/langues.jpg" alt="photo" width="400" height="300">
            <img src="https://ecoleperceval.org/wp-content/uploads/2016/12/bonjour.jpg" alt="photo" width="400" height="300">
            <img src="https://i0.wp.com/societefacile.com/wp-content/uploads/2023/09/Ouvrir-Ecole-de-langue.webp" alt="photo" width="400" height="300">
        </div>
        
        <br><br><br><br>
        <tbody>
            <br><br><br>
            <table border="1" align="center" width="600" style="background-color: rgb(255, 255, 255);">
                <tr>
                    <th colspan="6" style="background-color: rgb(182, 170, 170);">
                        <h2>Les étudiants</h2>
                    </th>
                </tr>
                <tr>
                    <th>language</th>
                    <th>mois</th>
                    <th>prix</th>
                </tr>
                <tr>
                    <td>Anglais</td>
                    <td>6 mois</td>
                    <td>1500 Dh</td>
                </tr>
                <tr>
                    <td>Francais</td>
                    <td>9 mois</td>
                    <td>2000 Dh</td>
                </tr>
                <tr>
                    <td>Espagnol</td>
                    <td>9 mois</td>
                    <td>2000 Dh</td>
                </tr>
                <tr>
                    <td>German</td>
                    <td>15 mois</td>
                    <td>2500 Dh</td>
                </tr>
                <tr>
                    <td>Japanese</td>
                    <td>15 mois</td>
                    <td>2500 Dh</td>
                </tr>
                <tr>
                    <td>Russia</td>
                    <td>15 mois</td>
                    <td>2500 Dh</td>
                </tr>
                <tr>
                    <td>Italien</td>
                    <td>6 mois</td>
                    <td>1500 Dh</td>
                </tr>
                <tr>
                    <td>Korean</td>
                    <td>12 mois</td>
                    <td>1800dh</td>
                </tr>
            </table>
        </tbody>
        
        <body>
            <br><br><br>
            <div style="border: 2px  white; padding: 10px; width: 300px; border-style: double; margin: 0 auto;">
                <center>
                    <h1 style="color: white;" style="padding: 0cqi;">un offre🛑🕛:</h1>
                </center>
                <section id="prmotions">
                    <h3 style="color: aliceblue;">Promotions de la semaines</h3>
                    <div>
                        <p style="color: aliceblue;">-50% sur les oranges jusq'a dimanche !</p>
                    </div>
                </section>
            </div>
        </body>
    </body>
</html>