<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excellente langue</title>
    <link rel="stylesheet" href="static/styles/index.css">
</head>
<body>
    <header class="header">
        <h1>Excellente langue 🎓📚</h1>
        <nav class="navigation">
            <a href="/">Accueil</a>
            <a href="inscription">Inscription & Les Prix</a>
            <a href="etudiants">Étudiants</a>
        </nav>
    </header>
    <main>
        <section class="intro">
            <h2>Bienvenue à notre service</h2>
            <p>
                Bienvenue sur Excellente langue 🎓📚, votre passerelle vers le monde des langues et des cultures ! 
                Apprenez des langues pour explorer le monde et favoriser la compréhension culturelle. 
                Rejoignez-nous pour des leçons interactives et engageantes !
            </p>
        </section>
        <section class="student-details">
            <table>
                <thead>
                    <tr>
                        <th>Langue</th>
                        <th>Durée</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Anglais</td><td>6 mois</td><td>1500 Dh</td></tr>
                    <tr><td>Français</td><td>9 mois</td><td>2000 Dh</td></tr>
                    <tr><td>Espagnol</td><td>9 mois</td><td>2000 Dh</td></tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>
